aiofiles==23.2.1
amqp==5.1.1
asgiref==3.7.2
billiard==4.1.0
celery==5.3.4
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cryptography==41.0.5
defusedxml==0.7.1
diff-match-patch==20230430
distlib==0.3.7
Django==4.2.5
django-import-export==3.3.3
django-webpush==0.3.5
et-xmlfile==1.1.0
filelock==3.12.4
gunicorn==21.2.0
http-ece==1.1.0
idna==3.4
kombu==5.3.2
MarkupPy==1.14
numpy==1.26.0
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.1
pandas==2.1.1
platformdirs==3.10.0
prompt-toolkit==3.0.39
py-vapid==1.9.0
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.3.post1
pywebpush==1.9.4
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tablib==3.5.0
tzdata==2023.3
urllib3==2.0.3
vine==5.0.0
virtualenv==20.24.5
wcwidth==0.2.8
xlrd==2.0.1
xlwt==1.3.0
